{
    "overrides": [
        {
            "files": ["*.ts"],
            "options": {
                "parser": "typescript"
            }
        }
    ],
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "none",
    "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
